* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

@font-face {
    font-family: 'ansiedade';
    src: url('font/thundertitanstraight-webfont.woff2') format('woff2'), url('font/thundertitanstraight-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-MENU-*/

header {
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 200px;
    position: absolute;
    top: 5px;
    margin-left: 5%;
}

.digitando {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    text-decoration: underline 2px;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.menu {
    float: right;
    margin-right: 5%;
    margin-top: 0;
}

.menu li {
    float: left;
    list-style: none;
    padding: 21 10 20 10;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: white;
}

#saude-menu:hover {
    background-color: green;
    transition: 0.5s;
    text-shadow: 2px 2px black;
}

#ansiedade-menu {
    background-color: yellow;
    text-shadow: 2px 2px black;
}

#depressao-menu:hover {
    background-color: #41BDD9;
    transition: 0.5s;
    text-shadow: 2px 2px black;
}

#estresse-menu:hover {
    background-color: #BF1A0B;
    transition: 0.5s;
    text-shadow: 2px 2px black;
}

#sobre-menu:hover {
    background-color: darkblue;
    transition: 0.5s;
    text-shadow: 2px 2px black;
}

/*-FIM MENU-*/

/*-CAPA-*/

#imagem_fundo {
    background-image: url("img/ansiedade-fundo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

#titulo {
    font-size: 45px;
    text-shadow: 3px 3px black;
    color: #f7f7f7;
    padding-top: 20%;
    margin-top: 0;
}

#subtitulo {
    text-shadow: 2px 2px black;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}

.acao {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 20px;
}

.acao:hover {
    border: 0;
    background-color: #BF1A0B;
    transition: 0.3s;
}

/*-FIM CAPA-*/

/*-RODAPÉ-*/

footer {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0px 50px 0px;
    background-color: black;
    color: #ffffff;
    justify-content: center;
}

.coluna {
    padding: 0px 40px;
    max-width: 50%;
}

.coluna h1 {
    text-align: center;
    font-size: 30px;
}

.coluna h4 {
    text-align: center;
}

.coluna p {
    text-align: center;
    line-height: 1.6;
}

/*-FIM RODAPÉ*/

/*-CLASSES PARA EDIÇÃO DE TEXTO-*/

.o-que-e-ansiedade {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cinza {
    background-color: #f7f7f7;
}

.sobre-ansiedade {
    flex: 50%;
    padding: 0px 50px;
}

.sobre-sintomas {
    padding: 0px 50px;
}

.sobre-tipos {
    padding: 0px 100px;
}

.sobre-tratamento {
    padding: 0px 100px;
}

#tratamento-texto {
    text-align: center;
}

.sobre-ansiedade h2 {
    font-size: 30px;
}

.sobre-ansiedade h3 {
    font-size: 20px;
}

.sobre-ansiedade p {
    text-align: justify;
}

.img-ansiedade {
    flex: 50%;
    padding: 0px 50px;
}

.img-ansiedade img {
    width: 100%;
}

.img-causas img {
    border-radius: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ansiedade-txt {
    font-family: 'ansiedade';
}

.centralizado {
    text-align: center;
}

/*-FIM CLASSES PARA EDIÇÃO DE TEXTO-*/

/*RESPONSIVIDADE*/

@media all and (max-width:820px) {
    .menu {
        visibility: hidden;
    }
    #imagem_fundo {
        background-image: url(img/rsz_ansiedade-fundo2.jpg);
    }
    .o-que-e-ansiedade {
        flex-direction: column;
    }
    .img-ansiedade {
        flex: 1;
        padding: 20px;
        width: 100%;
    }
    .img-causas {
        flex: 1;
        padding: 20px;
        width: 100%;
    }
    .sobre-tipos {
        padding: 20px;
    }
    .sobre-tratamento {
        padding: 20px;
    }
    .coluna {
        padding: 0;
    }
    footer {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .logo-div {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 0;
    }
    .logo {
        margin-left: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 420px) {
    #titulo {
        font-size: 30px;
    }
    #subtitulo {
        font-size: 20px;
    }
}